body {
  background-color: white;
}


.crop-p {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: x-large;
  margin-left: 23%;
  margin-top: 5%;
}

.predict_crop_btn {
  background-color: #10a37f;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  width: 16rem;
}

.predict_crop_btn:hover {
  background-color: #007553;
}

.predict_crop_btn:active {
  transform: scale(0.95, 0.95);
}

.crop-container {
  margin-left: 32%;
  display: inline-grid;
  grid-template-columns: 250px 250px;
  column-gap: 50px;
  row-gap: 40px;
}

/*------------------------------------------------------------------------*/

/* CSS for width between 220-780px */
@media (220px <= width <= 780px) {
  .crop-p {
    font-size: large;
    text-align: center;
    width: 83%;
    margin: 0;
    margin-right: 12%;
    margin-left: 10%;
    margin-top: 10%;
  }

  .crop-container {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 5%;
    margin-bottom: 15%;
    margin-right: 21%;
    margin-left: 20%;
    width: min-content;
  }

  .predict_crop_btn {
    margin-top: 5%;
  }
}

/*------------------------------------------------------------------------*/

/* CSS for width between 415-780px */
@media (415px <= width <= 780px) {
  .crop-p {
    font-size: x-large;
    margin-left: 22%;
  }

  .crop-container {
    margin-left: 38%;
    max-width: max-content;
  }
}

/* CSS for width between 575-630px */
@media (575px <= width <= 630px) {
  .crop-p {
    margin-left: 17%;
  }
}

/* CSS for width between 630-780px */
@media (630px <= width <= 780px) {
  .crop-p {
    margin-right: 13%;
    margin-left: 13%;
  }

  .crop-container {
    margin-left: 35%;
  }
}

/*------------------------------------------------------------------------*/

/* CSS for width between 780-975px */
@media (780px <= width <= 975px) {
  .crop-p {
    margin-right: 10%;
    margin-left: 15%;
    text-align: center;
  }

  .crop-container {
    margin: 0;
    padding: 0;
    margin-left: 18%;
  }
}

/* CSS for width between 910-1250px */
@media (910px <= width <= 1250px) {
  .crop-p {
    margin-right: 10%;
    margin-left: 15%;
    text-align: center;
  }

  .crop-container {
    margin: 0;
    padding: 0;
    margin-left: 25%;
  }
}
