.header {
  display: flex;
  justify-content: flex-end; /* shift the links to the right */
  align-items: center;
  background-color: rgb(99, 0, 99);
  padding-bottom: 0.07rem; /* height of the header */
  width: 100vw;
}

.header .logo {
  font-weight: 480;
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-right: auto; /* push the logo to the left */
  margin-left: 2rem;
}

.header ul {
  display: flex;
  list-style: none;
  margin: 0;
  margin-right: 5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.6rem;
}

.header li {
  margin: 0 2.5rem; /* increase the spacing between the links */
  font-weight: 450;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header a:hover {
  font-weight: 600;
}

/* Don't change logo color on hover */
.header .logo :hover {
  color: #fff;
  font-weight: 450;
}

/*------------------------------------------------------------------------*/

/* CSS for width between 220-415px */
@media (220px <= width <= 415px) {
  /* Hide the Project option*/
  .project-header-option {
    display: none;
  }

  .header {
    background-color: rgb(99, 0, 99);
    width: min-content;
  }

  .header .logo,
  .header li {
    font-size: small;
    font-weight: 450;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    text-align: center;
  }

  .header .logo,
  .header ul,
  .header li {
    margin: 0;
    padding: 0;
    font-weight: 450;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  .header .logo {
    padding-right: 7%;
  }

  .header {
    padding-left: 8.5%;
    padding-right: 24%;
    padding-bottom: 3%;
    padding-top: 1%;
    overflow-x: hidden;
  }

  .header li {
    padding-left: 10%;
    padding-right: 10%;
  }
}

/*------------------------------------------------------------------------*/

/* CSS for width between 415px and 760px */
@media (415px <= width <= 760px) {
  /* Hide the Project option*/
  .project-header-option {
    display: none;
  }

  .header {
    background-color: rgb(99, 0, 99);
    max-width: max-content;
  }

  .header .logo,
  .header li {
    font-size: larger;
    font-weight: 450;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  .header .logo,
  .header ul,
  .header li {
    margin: 0;
    padding: 0;
    font-weight: 450;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    text-align: center;
  }

  .header .logo {
    padding-left: 3%;
    padding-right: 5%;
  }

  .header {
    padding-left: 8.5%;
    padding-right: 18%;
    padding-bottom: 3%;
    padding-top: 1%;
    overflow-x: hidden;
  }

  .header li {
    padding-left: 10%;
    padding-right: 10%;
  }

  .crop-header-option {
    padding: 0;
  }
}

/* CSS for width between 415px and 480px */
@media (415px <= width <= 480px) {
  .header li {
    padding-left: 5%;
  }
}

/*------------------------------------------------------------------------*/

/* CSS for width between 760-975px */
@media (760px <= width <= 975px) {
  /* Hide the Project option*/
  .project-header-option {
    display: none;
  }

  .header ul {
    padding: 0;
    margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
  }
}

/* CSS for width between 780-820px */
@media (780px <= width <= 820px) {
  .header {
    padding-left: 1%;
  }
}
