.header {
  display: flex;
  justify-content: flex-end; /* shift the links to the right */
  align-items: center;
  background-color: rgb(99, 0, 99);
  padding-bottom: 0.07rem; /* height of the header */
  width: 100vw;
}

.header .logo {
  font-weight: 480;
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-right: auto; /* push the logo to the left */
  margin-left: 2rem;
}

.header ul {
  display: flex;
  list-style: none;
  margin: 0;
  margin-right: 5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.6rem;
}

.header li {
  margin: 0 2.5rem; /* increase the spacing between the links */
  font-weight: 450;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header a:hover {
  font-weight: 600;
}

/* Don't change logo color on hover */
.header .logo :hover {
  color: #fff;
  font-weight: 450;
}



/*-----------------------------------------------------------*/

  /* CSS for width between 410p-780x */
  @media ( 410px <= width <= 760px ) {
    
    /* Hide the Project option*/
    .project-header-option{
      display: none;
    }

    .header {
      background-color: rgb(0, 99, 8);
      width:min-content;
    }
    
    .header .logo ,  .header li {
      font-size: small;
    }
    
    .header .logo, .header ul,  .header li {
      margin: 0;
      padding:0;
    }

    .header{
      padding-left: 5%;
      padding-right: 20%;
      padding-bottom: 1%;
      padding-top: 1%;
    }

    .header li{
      padding-left: 10%;
      padding-right: 10%;
    }


  }












