body {
  background-color: white;
}

.fertilizer-p {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: x-large;
  margin-left: 16%;
  margin-top: 5%;
}

.predict_fertilizer_btn {
  background-color: #10a37f;
  border: none;
  color: white;
  padding: 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  width: 13rem;
  margin-left: 70%;
}

.predict_fertilizer_btn:hover {
  background-color: #007553;
}

.predict_fertilizer_btn:active {
  transform: scale(0.95, 0.95);
}

.fertilizer-container {
  margin-left: 32%;
  display: inline-grid;
  grid-template-columns: 250px 250px;
  column-gap: 50px;
  row-gap: 40px;
}

/*---------------------------------------------------------------------------------*/

/* CSS for width between 220-415px */
@media (220px <= width <= 415px) {
  .fertilizer-p {
    font-size: large;
    text-align: center;
    width: 86%;
    margin: 0;
    margin-right: 15%;
    margin-left: 12%;
    margin-top: 10%;
  }

  .fertilizer-container {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 5%;
    margin-bottom: 30%;
    margin-right: 0%;
    margin-left: 26%;
    width: min-content;
  }

  .predict_fertilizer_btn {
    margin: 0;
    margin-top: 5%;
  }
}

/*---------------------------------------------------------------------------------*/

/* CSS for width between 415-650px */
@media (415px <= width <= 650px) {
  .fertilizer-p {
    font-size: x-large;
    text-align: center;
    width: 90%;
    margin: 0;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 10%;
  }

  .fertilizer-container {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 5%;
    margin-bottom: 15%;
    margin-right: 21%;
    margin-left: 40%;
    width: min-content;
  }

  .predict_fertilizer_btn {
    margin: 0;
    margin-top: 5%;
  }
}

/*---------------------------------------------------------------------------------*/

/* CSS for width between 650-850px */
@media (650px <= width <= 850px) {
  .fertilizer-p {
    font-size: x-large;
    text-align: center;
    width: 80%;
    margin: 0;
    margin-left: 14%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .fertilizer-container {
    margin-left: 17%;
  }
}

/* CSS for width between 850-950px */
@media (850px <= width <= 950px) {
  .fertilizer-p {
    font-size: x-large;
    text-align: center;
    width: 80%;
    margin: 0;
    margin-left: 12%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .fertilizer-container {
    margin-left: 20%;
  }
}

/* CSS for width between 950-1020px */
@media (950px <= width <= 1020px) {
  .fertilizer-p {
    font-size: x-large;
    text-align: center;
    width: 80%;
    margin: 0;
    margin-left: 12%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .fertilizer-container {
    margin-left: 23%;
  }
}

/* CSS for width between 1020-1250px */
@media (1020px <= width <= 1250px) {
  .fertilizer-p {
    font-size: x-large;
    text-align: center;
    width: 80%;
    margin: 0;
    margin-left: 12%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .fertilizer-container {
    margin-left: 28%;
  }
}
